.book {
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.book img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    cursor: pointer;
}

.book-details {
    aspect-ratio: 3/1;
    width: 30%;
    max-width: 500px;
    height: auto;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 8px;
    padding: 8px;
    background-color: #af4c0f;
}

.left_image {
    flex-shrink: 0;
}

.left_image img {
    display: block;
    width: 190px;
    height: 100%;
    max-height: 100%;
    border-radius: 16px;
}

.right_description {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: stretch;
    min-width: 0;
    padding-left: 16px;
    white-space: wrap;
}

.right_description h3{
    font-size: 24px;
    margin: 20px 0 12px 0;
}

.right_description p {
    font-size: 16px;
    opacity: 0.8;
}

.right_description a {
    padding: 6px 12px;
    border-radius: 36px;
    margin: 4px;
    min-width: 2px;
    outline: none;
    border: none;
    background: white;
    color: black;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 14px;
}

.book-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}